body{
	background-color: #fff;
	color: #6C7A89;
	font-family:  'Roboto Condensed', sans-serif;
	font-size: 16px;

}

form {
    display: inline-block;
    width: 30%;

}

#lines {
    color : green;
    list-style-type: none;
    overflow: scroll;
}

#line li {
    float: right;
}

h1{
	
	text-align: center;
	
}

h2{
   text-align: center;

}



#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
}

#navbar li {
    float: left;
    margin-left: 75px;
}

#navbar li a, .dropbtn {
    display: inline-block;
    color: #6C7A89;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: #F2F1EF;
}

#navbar li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 160px;
    opacity: 0.9;
    
}

.dropdown-content a {
    color: #6C7A89;
    padding: 10px 10px;
    text-decoration: none ;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#navbarline{
	position: absolute;
	background-color: #6C7A89;
    width: 80%;
    height: 1px;
    margin-left: 80px;
}

#slide1{
	width: 80.5%;
	margin-left: 80px;
	margin-top: 30px;
}

#t_kart {
	margin-left: 80px;
	width:250px;
	height: 50%;


}

.info{
	background-color: #F2F1EF;
	margin-left: 80px;
	width: 80.5%;
	min-height: 350px;
	max-height: 500px;
}
.info h2{
	margin-left: 300px;
	margin-top: -20%;
}

.info p{
	position: relative;
	margin-left: 300px;
	width: 60%;
}

#trondheim{
	margin-left: 80px;
	width: 80.5%

}


#footerline{
	position: absolute;
	background-color: #6C7A89;
    width: 80%;
    height: 1px;
    margin-left: 80px;
    margin-top: 100px;


}
footer p{
   position: absolute;
   padding: 10px;
   margin-bottom:100px;
   margin-right: 80px;
   margin-top: 100px;
   display: inline-block;
}
footer iframe{
   position: absolute;
   padding: 10px;
   margin-bottom:100px;
   margin-left: 300px;
   margin-top: 50px;
   display: inline-block;}

#tipsliste{
    width: 80.5%;
    margin-top: 50px;
    margin-left: 80px;
}


#podlist li {
    display: block;
    list-style: none;
    margin-left: 40px

}
#podlist p {
    display: block;
    list-style: none;
    margin-left: 0px
}


#audio audio{
    margin-left: 0px;

}

#audio h3, p{
    margin-left: 80px;
    width: 81%
}

.foot p{
    margin-left: 0px;
    font-size: 22px;
}
.sosialeMedier {
    height: 80px;
    margin-top: 250px;
    margin-left: 20px;
}








